/* ========================
   Footer Style
=========================== */

.site-footer {
  color: #222;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 40px;
  background-image: url("../assets/background-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo img {
  max-width: 410px;
  max-height: 82px;
  height: auto;
  margin-bottom: 34px;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 120px;
  max-width: 940px;
  margin: 0 auto;
  text-align: left;
}

.footer-info h4 {
  font-weight: bold;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}

.footer-info ul li {
  font-size: 19px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
}

.footer-info ul + ul {
  margin-top: 30px;
}

.footer-partners {
  margin-top: 73px;
  padding-top: 44px;
  width: 100%;
  border-top: 1px solid #9E9E9E;
  text-align: center;
}

.footer-partners ul.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 110px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.footer-partners ul.partners li img {
  max-height: 80px;
}

.footer-partners ul.partners li img:hover {
  opacity: 1;
}

.footer-bottom {
  background: #331907;
  color: #fff;
  padding: 12px 0;
  font-size: 13px;
  margin-top: 68px;
}

.footer-bottom .credits-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  text-align: center;
}

.footer-bottom .credits-text .links a,
.footer-bottom .credits-text .webdesign p,
.footer-bottom .credits-text .webdesign a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-family: "Lato", sans-serif;
}

.footer-bottom .credits-text .links a:hover,
.footer-bottom .credits-text .webdesign a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer-info,
  .footer-partners ul.partners {
      gap: 40px;
  }

  .credits-text {
     flex-direction: column;
  }
}

@media screen and (max-width: 580px) {
  .footer-info {
      flex-direction: column;
      margin: 0;
      max-width: 100%;
  }

  .footer-top {
      align-items: baseline;
  }

  .footer-logo {
      margin: auto;
  }
}