/* ========================
   Header Style
=========================== */

.site-header {
  padding: 17px 0 48px;
  background-image: url("../assets/background-header.png");
  background-repeat: repeat;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header-logo img {
  max-height: 84px;
  height: auto;
  width: auto;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 110px;
  padding-bottom: 6px;
}


@media screen and (max-width: 1180px) {
  .header-right {
    gap: 40px;
  }

  .header-logo img {
    max-height: 60px;
  }
}
@media screen and (max-width: 980px) {
  .header-inner {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
