.highlight-section {
    background-image: url("../assets/background-header.png");
    background-repeat: repeat;
    padding-bottom: 113px;
    padding-top: 25px;
}
.highlight-wrapper {
    display: flex;
    border: 10px solid #fff;
    border-radius: 24px;
    background-color: #FFE346;
}

.highlight-image {
    flex: 1 1 50%;
    border-radius: 16px 0 0 16px;
    overflow: hidden;
}

.highlight-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.highlight-text {
    flex: 1 1 50%;
    background-color: #FFE346;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
  
    text-align: center;
    border-radius: 0 16px 16px 0;
    overflow: hidden;
}

.highlight-text h2 {
    font-size: 40px;
    line-height: 53px;
    font-weight: 400;
    color: #331907;
    font-family: "National Park", sans-serif;
}

@media screen and (max-width: 992px) {
    .highlight-text h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .highlight-section {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .highlight-wrapper {
        flex-direction: column;
    }

    .highlight-image {
        border-radius: 16px 16px 0 0;
    }

    .highlight-text {
        border-radius: 0 0 16px 16px;
    }
}