.section-maps {
    padding: 136px 0 182px;
}

.map-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.map-text {
    flex: 1 1 35%;
    line-height: 1.6;
}

.map-text .company-name {
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    color: #000000;
}

.map-text p {
    font-size: 26px;
    line-height: 39px;
    display: block;
    margin: 0;
    font-weight: 300;;
    color: #000000;
}

.opening-hours-map h3 {
    margin: 0;
}

.opening-hours-map strong {
    display: block;
    margin-top: 30px;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    display: block;
    color: #000000;
}

.map-text .address {
    margin-bottom: 30px;
}

.opening-hours-map ul li {
    font-size: 26px;
    line-height: 39px;
    display: block;
    font-weight: 300;;
    color: #000000;
}

.map-image {
    flex: 1 1 55%;
}

.map-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    max-width: 733px;
}


/* Container chung cho form */
.section-contact-form {
    padding: 0 0 218px;
    text-align: center;
}

.section-contact-form br {
    display: none;
}

.section-contact-form form {
    max-width: 843px;
    margin: auto;
}

.section-contact-form form p {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-row p {
    flex: 1;
    width: 50%;
}

/* Title */
.section-contact-form h3 {
    font-size: 40px;
    margin-bottom: 53px;
    color: #331907;
    font-weight: 300;
    font-family: "National Park", sans-serif;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea,
.wpcf7 input[type="tel"] {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid #aaa;
    border-radius: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "National Park", sans-serif;
}

.wpcf7 input[type="text"]::placeholder,
.wpcf7 input[type="email"]::placeholder,
.wpcf7 textarea::placeholder,
.wpcf7 input[type="tel"]::placeholder {
    color: #9E9E9E;
}

.wpcf7 input[type="text"]:focus,
.wpcf7 input[type="email"]:focus,
.wpcf7 textarea:focus,
.wpcf7 input[type="tel"]:focus {
    outline: none;
}

.contact-row label {
    display: none;
}

.contact-row>div {
    flex: 1;
}

/* Textarea */
.wpcf7 textarea {
    min-height: 160px;
    resize: vertical;
}

/* Button */
.wpcf7 input[type="submit"] {
    background-color: #FFE346;
    border: 1px solid #331907;
    padding: 10px 28px;
    border-radius: 22px;
    font-size: 17px;
    cursor: pointer;
    line-height: 23px;
    font-weight: 300;;
    transition: all 0.3s ease;
    margin: 52px auto 0;
    width: 116px;
    color: #000;
}

.wpcf7 input[type="submit"]:hover {
    background-color: #fff;
    border-color: #000;
}

.wpcf7-not-valid-tip {
    text-align: left;
    margin-top: 8px;
}

.wpcf7-spinner {
    top: -33px;
}

.wpcf7 .submitting input[type="submit"] {
    font-size: 0;
}

@media screen and (max-width: 992px) {
    .map-content-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .section-maps {
        padding: 60px 0;
    }

    .map-text .company-name {
        font-size: 20px;
        line-height: 28px;
    }

    .opening-hours-map ul li,
    .map-text p {
        font-size: 16px;
        line-height: 24px;
    }

    .section-contact-form h3 {
        font-size: 38px;
        margin-bottom: 48px;
    }

    .section-contact-form {
        padding-bottom: 60px;
    }

    .form-row {
        gap: 0;
    }
    
    .form-row p {
        width: 100%;
        flex: auto;
    }
}