.company-tabs.vertical-tabs {
    display: flex;
    gap: 48px;
    margin-bottom: 168px;
}

.vertical-tabs__left {
    flex: 0 0 417px;
    border-radius: 8px;
    display: flex;
    justify-content: end;
    position: relative;
    padding-top: 287px;
    padding-bottom: 0;
}

.section-company-tabs {
    position: relative;
}

.vertical-tabs__left::before {
    content: "";
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #F5F1E8 35%, #F3EEE3 64%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    width: 100vw;
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    z-index: -1;
    max-height: 910px;
}

.vertical-tabs__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 417px;
    width: 100%;
}

.vertical-tabs__nav li {
    padding: 24.5px 24px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 300;;
    color: #000;
    border-radius: 24px 0px 0px 24px;
}
.vertical-tabs__nav li a{
    font-weight: 300;;
    color: #000;
}

.vertical-tabs__nav li:hover a {
    font-weight: 700;
    color: #000;
}

.vertical-tabs__nav li:hover {
    background: #fff;
    font-weight: 700;
    color: #000;
    border-radius: 24px 0px 0px 24px;
}

.vertical-tabs__nav li.active {
    background: #fff;
    font-weight: 700;
    color: #000;
    border-radius: 24px 0px 0px 24px;
}

.vertical-tabs__nav li.active a {
    font-weight: 700;
    color: #000;
}

.vertical-tabs__right {
    flex: 1;
}

.company-tabs__content {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}

.company-tabs__content.active {
    display: block;
}

.company-tabs__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 94px;
}

.company-tabs__left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 52px;
}

.company-tabs__right h3 {
    font-size: 40px;
    line-height: 53px;
    color: #331907;
    font-family: "National Park", sans-serif;
    margin: 0 0 45px;
    font-weight: 400;
    max-width: 789px;
}

.company-tabs__left_img img {
    max-width: 382px;
    max-height: 255px;
    object-fit: cover;
}

.tab-description {
    margin-top: 0;
}

.tab-description ul li,
.tab-description p {
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    font-weight: 300;
}

.tab-description p {
    margin-bottom: 25px;
}

.tab-members {
    display: grid;
    gap: 52px;
    grid-template-columns: repeat(2,1fr);
    margin-top: 53px;
}

.member-card img {
    width: 100%;
    border-radius: 24px;
}

.member-card img.image-no-name {
    border-radius: 0;
    max-width: 382px;
    max-height: 255px;
    object-fit: cover;
}

.member-card strong {
    display: block;
    margin-top: 0;
    color: #000000;
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
}

.member-card span {
    color: #000000;
    font-size: 20px;
    line-height: 27px;
}

.member-card {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 24px;
}

.member-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    border-radius: 0;
    opacity: 0.95;
    padding: 17px 21px;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease, padding 0.5s ease;
}

.member-card .member_role p {
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    color: #000000;
}

.member_role {
    margin-bottom: 10px;
}

.member_role p + p {
    margin-top: 20px;
}

.member-image-wrapper img {
    width: 100%;
    transition: transform 0.4s ease;
}
.member-card:hover .member-image-wrapper img {
    transform: scale(1.05);
}

.member-info-detail {
    opacity: 0;
    transform: translateY(10px);
    transition: height 0.5s ease;
    visibility: hidden;
    padding-top: 0;
}

.member-card:hover .member-info-detail {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: height 0.5s ease;
}
/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 992px) {
    .company-tabs.vertical-tabs {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .vertical-tabs__left {
        width: 100%;
        flex: 0 0 100%;
        justify-content: left;
        padding-top: 40px;
    }
    .vertical-tabs__nav {
        display: flex;
        max-width: 100%;
        overflow-x: auto;
    }

    .vertical-tabs__nav::-webkit-scrollbar {
        width: 0;
    }

    .vertical-tabs__nav li.active {
        border-radius: 24px 24px 0 0;
    }

    .tab-members,
    .company-tabs__left {
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .company-tabs__right h3 {
        font-size: 38px;
        line-height: 48px;
    }

    .member-card .member_role p,
    .tab-description ul li, .tab-description p {
        font-size: 18px;
        line-height: 28px;
    }

    .tab-members,
    .company-tabs__left {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .vertical-tabs__left {
        width: calc(100% + 20px);
    }

    .vertical-tabs__nav li {
        padding: 24px 12px;
    }

    .member-card img.image-no-name {
        max-width: 100%;
        max-height: 100%;
    }
}
