/* ========================
   Slide Style
=========================== */
.page_slideshows_container {
    background-image: url("../assets/background-header.png");
    background-repeat: repeat;
    padding-bottom: 75px;
}

.slideContainer {
    max-width: 1595px;
    margin: auto;
    padding: 0 20px;
}

.slideshow-wrapper {
    border-radius: 24px;
    border: 10px solid #fff;
    overflow: hidden;
}

.page_slideshows_container img {
    max-height: 624px;
    height: 100%;
    object-fit: cover;
}

.slide-content {
    margin-top: 30px;
    max-width: 1072px;
    padding-left: 141px;
}

.slide-caption {
    color: #985113;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 700;
}

.slide-title p {
    color: #331907;
    font-weight: 300;;
    font-size: 50px;
    line-height: 67px;
    font-family: "National Park", sans-serif;
    margin: 20px 0 0;
}

.slideshow-wrapper {
    position: relative;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 60px;
    height: 6px;
    background-color: #fff;
    border-radius: 0;
    opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #FFE346;
}

@media screen and (max-width: 1180px) {
    .slide-content {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .slide-caption {
        font-size: 18px;
        line-height: 25px;
    }
    
    .slide-title p {
        font-size: 38px;
        line-height: 48px;
    }

    .slide-title p br{
        display: none;
    }
}