@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=National+Park:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
   font-family: "Noto Sans", sans-serif;
  src: url("../fonts/NotoSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
   font-family: "Noto Sans", sans-serif;
  src: url("../fonts/NotoSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
   font-family: "Noto Sans", sans-serif;
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
   font-family: "Noto Sans", sans-serif;
  src: url("../fonts/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
   font-family: "Noto Sans", sans-serif;
  src: url("../fonts/NotoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/NotoSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/NotoSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
   font-family: "Noto Sans", sans-serif;
  src: url("../fonts/NotoSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

body {
   font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.coming-soon,
.container {
  max-width: 1328px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  color: #002047;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p {
  font-family: "Noto Serif", serif;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  margin: 0;
  color: #000000;
}

h1,
.h1 {
  font-size: 60px;
  line-height: 82px;
}

h2,
.h2 {
  font-size: 40px;
  line-height: 55px;
}

h3,
.h3 {
  font-size: 29px;
  line-height: 39px;
}

h4,
.h4 {
  font-size: 22px;
  line-height: 30px;
}

h5,
.h5 {
  font-size: 20px;
  line-height: 27px;
}

h6,
.h6 {
  font-size: 19px;
  line-height: 26px;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.disabled {
  cursor: not-allowed;
}

input:placeholder {
  color: #013473;
  font-size: 17px;
  line-height: 23px;
  font-weight: normal;
}

select,
input {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #013473;
  padding: 8px;
  color: #013473;
  font-size: 17px;
  line-height: 23px;
  font-weight: normal;
  outline: none;
}

input:focus,
input:active {
  outline: none;
}

select {
  color: #ffffff;
  background: #013473;
}

a,
a.link {
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a.button:hover {
  opacity: 1;
}
